

.SearchInput {
    font-size: 1.3rem;
    // border-radius: 6px;
    border: none;
    padding: 20px;
    margin-right: 20px;
    background-color: rgba(255,255,255,.9);
}

.SearchBtn {
    color: white;
    background: #247291;
    text-transform: uppercase;
    border: none;
    padding: 20px 20px;
    border-right: 2px solid #323232;
}
