.LoginInput {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
    border: .5px solid #F7D95B;;
    height: 2.5rem;
    width: 80%; 
}

.LoginBtn {
    color: #247291;
    background: #F7D95B;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
  
    &:hover{
      background: white;
    }
}

.LoginLabel {
    font-size: 1.8rem;
    margin: .5rem;
    color: white;
}

.LoginForm {
    font-family: 'Josefin Sans', sans-serif;
    background: #247291;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

