#root {
  width: 100vw;
  min-height: 100vh;
}

.App {
  font-family:'Josefin Sans', sans-serif;
  border-radius: 12px;
  // box-shadow: 1px 1px 2.5px 3px rgba(0,0,0,.5);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
display: flex;
flex-direction: center;
align-items: center;
}




